POSTGRES_DB=after
POSTGRES_USER=after
POSTGRES_PASSWORD=after

DB_URL=jdbc:postgresql://localhost:5432/after
DB_USERNAME=after
DB_PASSWORD=after

MINIO_ROOT_USER=after
MINIO_ROOT_PASSWORD=after-minio-dev
MINIO_ENDPOINT=http://localhost:9000
MINIO_BUCKET=after-media